#cx1{
	margin-left: 450px;
	margin-top: 300px;
}
#cx2{
	margin-left: 0px;
	margin-top: 300px;
}
#caixa1{
	width: 120px;
	height: 20px;
	border: solid 1px;
	border-radius: 3px;
	margin-left: 0px;
	margin-top: 300px;
}
#caixa2{
	width: 120px;
	height: 20px;
	border: solid 1px;
	border-radius: 3px;
	margin-left: 0px;
	margin-top: 300px;
}