#titulo{
	margin-left: 530px;
	font-size: 30px;
	margin-top: 150px;
}
#one{
	text-align: center;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	margin-left: 0px;
	margin-top: 100px; 
}
#two{
	text-align: center;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	margin-left: 0px;
	margin-top: 100px;
}
#n1{
	border-radius: 2px;
	margin-left: 550px;
}
#r{
	border-radius: 2px;
	margin-left: 550px;
}
#result{
	border:solid 1px;
	width: 40px;
	margin-left: 630px;
}
#btn{
	background: #3366FF;
	border: solid 2px #3366FF;
	border-radius: 2px;
	width: 120px;
	height: 40px;
	margin-left: 600px;
}