#num{
	font-size: 25px;
	margin-left: 520px;
}
#caixa{
	text-align: center;
	width: 80px;
	height: 25px;
	margin-left: 0px;
	margin-top: 300px;
}
#btn{
	color: #FFFFFF;
	background: #3366FF;
	border: solid 2px #3366FF;
	border-radius: 3px;
 	margin-left: 640px;
 	width: 80px;
 	height: 40px;
}